In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv('data-1.csv')
data2 = pd.read_csv('data-2.csv')
data3 = pd.read_csv('data-3.csv')
data4 = pd.read_csv('data-4.csv')
data5 = pd.read_csv('data-5.csv')
data6 = pd.read_csv('data-6.csv')

In [3]:
col0 = pd.Series(['mean', 'std', 'min', 'max', 'correlation coeff'])

In [4]:
def summaryStats(dataset, name):
    b = dataset["x"].mean(axis=0)
    c = dataset["x"].std(axis=0)
    d = dataset["x"].min(axis=0)
    e = dataset["x"].max(axis=0)
    w = ''
    f = dataset["y"].mean(axis=0)
    g = dataset["y"].std(axis=0)
    h = dataset["y"].min(axis=0,)
    i = dataset["y"].max(axis=0)
    
    j = dataset['x'].corr(dataset['y'])

    k = pd.Series([b,c,d,e])
    l = pd.Series([f,g,h,i,j])
    
    table = pd.DataFrame({name+': x': [b,c,d,e,w], name+': y': [f,g,h,i,j]}, index=col0)
    return table

In [5]:
set1 = summaryStats(data1, "Data-1")
set2 = summaryStats(data2, "Data-2")
set3 = summaryStats(data3, "Data-3")
set4 = summaryStats(data4, "Data-4")
set5 = summaryStats(data5, "Data-5")
set6 = summaryStats(data6, "Data-6")

In [6]:
set1

                  Data-1: x  Data-1: y
mean                 8.7177  12.522874
std                 12.1555   6.639964
min                -22.6359  -2.565088
max                 35.2371  27.384153
correlation coeff             0.950326

In [7]:
set2

                  Data-2: x  Data-2: y
mean              -0.710787  -0.748987
std                 11.4816   6.257918
min                -33.2711 -18.621804
max                  27.647  14.147315
correlation coeff             0.955153

In [8]:
set3

                  Data-3: x  Data-3: y
mean               0.968907   8.508535
std                 2.23556   1.149301
min                -2.44906   6.641734
max                 4.51888  10.551871
correlation coeff             0.981937

In [9]:
set4

                  Data-4: x  Data-4: y
mean                49.9051  18.553837
std                 28.5086  16.545896
min                       0   0.000000
max                 87.3767  44.565040
correlation coeff            -0.081193

In [10]:
set5

                  Data-5: x  Data-5: y
mean                  49.91  18.555525
std                    28.5  16.540796
min                 4.33789   0.055498
max                 91.0529  49.934197
correlation coeff            -0.088236

In [11]:
set6

                  Data-6: x  Data-6: y
mean                7.21616   7.602215
std                 11.9216  11.764382
min                -24.3338 -22.956357
max                 35.4021  36.079874
correlation coeff             0.935069